<div class="container">

  <div class="logo">
    <img src="assets/images/logo.png" alt="" srcset="">
    <h3>
      {{title}}
    </h3>

  </div>

  <div *ngIf="!finished"   class="questions">
    {{questionSelected.question}}

  </div>

  <div *ngIf="!finished" class="options">

    <button (click) ="press(o.alias)" *ngFor="let o of questionSelected.options" class="option"> <!-- usando a diretiva for pra fazer com que apareça as opções -->
      {{o.name}}
    </button>
  </div>

  <div *ngIf=finished class="results">
      <h1>Seu resultado é: </h1>
      <p>{{answerSelected}}</p>
  </div>

</div>
